@media screen and (max-width: 600px) {
	.columnone, .columntwo {
	  width: 50%;
	}
}

body{
	background-color: rgb(155, 155, 155);
}

#video-container {
	top: 5%;
	left: 20%;
	margin: auto;
	position: absolute;
}

* {
	box-sizing: border-box;
  }

#video {
	border: 10px solid transparent;
	border-color: rgb(241, 204, 234);
}

.bbox{
	display: flex;
	top: 0;
	right: 0%;
	left:0%;
}

.columntwo {
	float: right;
	position: absolute;
	right: 5%;
	margin: 15px;
	width: 9%;
	background-color: rgb(241, 204, 234);
  }

.columnone {
	float: left;
	position: absolute;
	left: 5%;
	margin: 15px;
	vertical-align: middle;
	width: 9%;
	background-color: rgb(241, 204, 234);
  }
  
.bbox:after {
	content: "";
	display: table;
	clear: both;
  }
  

button {
	border: none;
	background-color: white;
	padding: 5px;
	margin: 5px;
}

button:hover {
	cursor: pointer;
}


#seek-bar {
	width: 85%;
}

#volume-bar {
	width: 10%;
}

#video-controls {
	position: relative;
	/* bottom:180px; */
	top:0;
	opacity: 1;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(241, 204, 234)),
		color-stop(1, rgb(241, 204, 234))
	);
}
#video-container:hover #video-controls {
	opacity: .9;
}